/* Main CSS Desenvolvido até 500px */
/*--------------------------------------------------------------------------------------
Agência Thot
0. GLOBAL
01. MENU
02. BANNER
03. SERVICOS
04. LAYOUTS
05. PLANOS
06. TESTEMUNHOS
07. CONTATO
08. SUBMENU
09. RODAPÉ
10. PAGINA PLANOS
11. PAGINAS PLANO BASICO / PLANO PROFISSIONAL / PLANO AVANCADO
12. PAGINA PLANO BASICO
13. PAGINA PLANO PROFISSIONAL
14. PAGINA PLANO AVANCADO
 ----------------------------------------------------------------------------------------*/
/*--------------------
    0. GLOBAL
 ----------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.opacity {
  opacity: 0 !important;
}

.tooltip {
  position   : inherit;
  display    : block;
  opacity    : 1;
  cursor     : help;
  z-index    : inherit;
  font-family: "Montserrat", sans-serif;
  font-size  : 12pt;
}

.tooltip .tooltiptext {
  opacity         : 0;
  font-family     : "Montserrat", sans-serif;
  font-size       : 9pt;
  line-height     : 1.5;
  color           : black;
  text-align      : left;
  background-color: white;
  width           : 200px;
  padding         : 8px;
  border          : 1px solid black;
  z-index         : 9999 !important;
  display         : none;

  /* Position the tooltip */
  position        : absolute;

}

.tooltip:hover .tooltiptext {
  opacity   : 1;
  position  : fixed;
  overflow  : hidden;
  transition: opacity 0.6s;

}

/*--- Setas ---*/

#setaPlano1,
#setaPlano2,
#setaVoltar,
#setasContainer {
  display: none;
}

/*--------------------
     1. MENU
----------------------*/
#menu {
  width          : 100%;
  padding        : 20px 15px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  z-index        : 10;
  box-shadow     : 0 10px 8px -1px rgba(0, 0, 0, 0.3), 0 15px 12px -12px rgba(0, 0, 0, 0.6);
  position       : relative;
  z-index        : 90;
}

#menuContainer {
  display         : flex;
  justify-content : space-between;
  background-color: white;
  z-index         : 10;
  width           : 100%;
  margin          : auto;
}

#menu img {
  height: 60px;
}

#menuContato,
#menuContato:hover {
  font-family     : "Montserrat", sans-serif;
  font-size       : 14pt;
  font-weight     : normal;
  color           : #FFFFFF;
  background-color: black;
  padding         : 10px 18px;
  display         : flex;
  align-items     : center;
  text-decoration : none;
}

#menuContato:hover {
  background-color: #353535;
}

#menuSpacer {
  display: none;
}
/*--------------------
     2. BANNER
----------------------*/
#banner {
  width              : 100%;
  padding            : 80px 28px 180px;
  background-image   : url("../img/banner-desenvolvimento-sites.jpg");
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;
  display            : flex;
  align-items        : center;
  max-height         : 90vh;
  text-align         : left;
  position           : relative;

}

#particles-js {
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
  padding : 0 !important;
}

#banner span {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 20pt;
  line-height: 150%;
  color      : #FFFFFF;
}

#banner p {
  margin : 0;
  display: inline-block;
}

#banner div #bannerWebsite {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 18pt;
  color      : #AFD14A;
}

#typewriter {
  /* max-width : 420px; */
  min-height: 205px;
  opacity   : 0;
}

#typewriter::after {
  content          : "|";
  font-size        : 19pt;
  font-weight      : bold;
  color            : orange;
  -webkit-animation: blink 500ms linear infinite alternate;
  animation        : blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*--------------------
     3. SERVICOS
----------------------*/
#servicos {
  padding       : 60px 30px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

#servicos img {
  width: 80%;
}

#card {
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
}

#textoServicos {
  margin : 40px 0;
  padding: 0;
}

#servicosH2 {
  display    : inline;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 20pt;
  color      : #000000;
}

#textoServicos h1 {
  display    : inline;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 20pt;
  color      : #AFD14A;
}

#textoServicos p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 14pt;
  color      : #000000;
  margin     : 50px 0 0;
}

#servicosCliqueAqui,
#servicosCliqueAqui:hover {
  font-family     : "Montserrat", sans-serif;
  font-weight     : normal;
  font-size       : 14pt;
  color           : #FFFFFF;
  background-color: #5A7F90;
  padding         : 20px 35px;
  margin          : 0 auto 30px;
  text-decoration : none;
}

#servicosCliqueAqui:hover {
  background-color: #3F5A67;
}
/*--------------------
     4. LAYOUTS
----------------------*/

#layouts {
  text-align      : center;
  background-color: black;
  padding         : 25px 0 60px;
  color           : white;
  position        : relative;
}

#layouts h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 20pt;
  line-height: 1.5;
  color      : #FFFFFF;
  padding    : 0 40px;
  margin     : 0 0 40px;
}

#visualContainer {
  overflow-x                : scroll;
  white-space               : nowrap;
  overflow-y                : hidden;
  padding                   : 0 40px;
  -ms-overflow-scrolling    : touch;
  -moz-overflow-scrolling   : touch;
  -o-overflow-scrolling     : touch;
  -webkit-overflow-scrolling: touch;
  -overflow-scrolling       : touch;
  -ms-overflow-style        : -ms-autohiding-scrollbar;

}

#visualContainer::-webkit-scrollbar {
  display: none;
}

.innerSlide {
  display  : inline-block;
  width    : 80%;
  margin   : 0 5px;
  max-width: 350px;
  z-index  : 5;
}

.slide-image {
  max-width   : 100%;
  max-height  : 100vh;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  cursor      : pointer;
  z-index     : 15;
}

.modal-open {
  overflow    : hidden;
  touch-action: none;
  /* position: fixed; */
}

.modal {
  display                   : none;
  /* Hidden by default */
  position                  : fixed;
  /* Stay in place */
  z-index                   : 15;
  /* Sit on top */
  padding                   : 50px 0 100px;
  /* Location of the box */
  left                      : 0;
  top                       : 0;
  width                     : 100%;
  /* Full width */
  background-color          : rgb(0,0,0);
  /* Fallback color */
  background-color          : rgba(0,0,0,0.9);
  /* Black w/ opacity */
  height                    : 100vh;
  overflow-y                : scroll;
  -ms-overflow-scrolling    : touch;
  -moz-overflow-scrolling   : touch;
  -o-overflow-scrolling     : touch;
  -webkit-overflow-scrolling: touch;
  -overflow-scrolling       : touch;
  flex-direction            : column;
  align-items               : center;
}

#imgModalContainer {
  width: 90%;
}

#imgModal {
  display: none;
}

.imgModal {
  margin            : auto;
  display           : block;
  width             : 100%;
  height            : 100%;
  border-style      : solid;
  border-width      : 5px;
  border-color      : white;
  animation-name    : zoom;
  animation-duration: 0.6s;
  position          : relative;
  z-index           : 16;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Loader */
#loader-wrapper {
  z-index: 20;
}

#loader {
  display          : none;
  position         : absolute;
  top              : 50%;
  left             : 50%;
  width            : 100px;
  height           : 100px;
  margin           : -75px 0 0 -50px;
  border-radius    : 50%;
  border           : 3px solid transparent;
  border-top-color : #A0444B;
  -webkit-animation: myanim 1.5s infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation        : myanim 1.5s infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content          : "";
  position         : absolute;
  top              : 5px;
  left             : 5px;
  right            : 5px;
  bottom           : 5px;
  border-radius    : 50%;
  border           : 3px solid transparent;
  border-top-color : #5A7F90;
  -webkit-animation: myanim 1.5s infinite;
  animation        : myanim 1.5s infinite;
}

#loader:after {
  content          : "";
  position         : absolute;
  top              : 15px;
  left             : 15px;
  right            : 15px;
  bottom           : 15px;
  border-radius    : 50%;
  border           : 3px solid transparent;
  border-top-color : #AFD14A;
  -webkit-animation: myanim 1.5s infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation        : myanim 1.5s infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes myanim {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform    : rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform    : rotate(360deg);
    transform        : rotate(360deg);
  }
}
@keyframes myanim {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform    : rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform    : rotate(360deg);
    transform        : rotate(360deg);
  }
}

/* The Close Button */

.close {
  position   : relative;
  margin     : 0 0 5px;
  color      : #f1f1f1;
  font-size  : 40px;
  font-weight: bold;
  transition : 0.3s;
}

.close:focus,
.close:hover {
  color          : #bbb;
  text-decoration: none;
  cursor         : pointer;
}

#coringaContainer {
  display            : inline-block;
  background         : #1D1F20;
  position           : relative;
  background         : linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation          : animatedgradient 10s ease alternate infinite;
  background-size    : 300% 300%;
  margin             : auto;

  -webkit-perspective: 1000;
  -moz-perspective   : 1000;
  -o-perspective     : 1000;
  perspective        : 1000;
}

#coringaContainer.hover #flipper,
#coringaContainer:hover #flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform   : rotateY(180deg);
  -o-transform     : rotateY(180deg);
  transform        : rotateY(180deg);
}

@keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

#flipper {
  position               : relative;

  -webkit-transition     : 0.9s;
  -webkit-transform-style: preserve-3d;

  -moz-transition        : 0.9s;
  -moz-transform-style   : preserve-3d;

  -o-transition          : 0.9s;
  -o-transform-style     : preserve-3d;

  transition             : 0.9s;
  transform-style        : preserve-3d;
}

#coringaBack,
#coringaFront {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility   : hidden;
  -o-backface-visibility     : hidden;
  backface-visibility        : hidden;
  border-color               : rgba(255,255,255,0);
}

#coringaBack {
  position        : absolute;
  top             : 1.5%;
  left            : 1.5%;
  width           : 97%;
  height          : 97%;
  background-color: #1D1F20;
  z-index         : 200;
}

#coringaBack div {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%,-50%);
  width    : 90%;
}

#coringaBack p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 12pt;
  white-space: normal;
  text-align : center;
  margin     : 30px 0 20px;
}

#coringaFront {
  z-index: 2;
}

#coringaBack {
  -webkit-transform: rotateY(180deg);
  -moz-transform   : rotateY(180deg);
  -o-transform     : rotateY(180deg);
  transform        : rotateY(180deg);
}

/*--------------------
     5. PLANOS
----------------------*/

#planos {
  padding        : 90px 30px 0;
  text-align     : center;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
}

#planos h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 20pt;
  color      : #000000;
  margin     : 0 0 50px;
}

#planos h2 span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 20pt;
  color      : #5A7F90;
}

#planos h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 14pt;
  color      : #000000;
  margin     : 0 30px 50px;
}

#planosContainer {
  margin: 0 0 100px;
}

#planosCliqueAqui,
#planosCliqueAqui:hover {
  font-family     : "Montserrat", sans-serif;
  font-weight     : normal;
  font-size       : 14pt;
  color           : #FFFFFF;
  text-decoration : none;
  background-color: #5A7F90;
  padding         : 20px 35px;
}

#planosCliqueAqui:hover {
  background-color: #3F5A67;
}

#planos img {
  width : 100%;
  margin: 0 0 -30px;
}
/*--------------------
     6. TESTEMUNHOS
----------------------*/

#testemunhos {
  padding                          : 60px 0;
  background-color                 : rgba(90,127,144,1);
  color                            : #FFFFFF;
  animation-name                   : testemunhosFadeIn;
  -webkit-animation-name           : testemunhosFadeIn;
  animation-delay                  : 0.1s;
  -webkit-animation-delay          : 0.1s;
  animation-duration               : 5s;
  -webkit-animation-duration       : 5s;
  animation-direction              : normal;
  -webkit-animation-direction      : normal;
  animation-fill-mode              : forwards;
  -webkit-animation-fill-mode      : forwards;
  animation-play-state             : paused;
  -webkit-animation-play-state     : paused;
  -webkit-animation-timing-function: linear;
  animation-iteration-count        : 1;
  -webkit-animation-iteration-count: 1;
  height                           : 600px;
}
@keyframes testemunhosFadeIn {
  0 {
    background-color: rgba(90,127,144,0);
  }

  100% {
    background-color: rgba(90,127,144,1);
  }
}
@-webkit-keyframes testemunhosFadeIn {
  0 {
    background-color: rgba(90,127,144,0);
  }

  100% {
    background-color: rgba(90,127,144,1);
  }
}

#testemunhos h2 {
  text-align   : center;
  font-family  : "Montserrat", sans-serif;
  font-weight  : normal;
  font-size    : 20pt;
  margin-bottom: 50px;
}

.carousel-item {
  text-align : center;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 14pt;
  margin     : 0 0 260px;
}

.descricaoTestemunho {
  margin: 0 60px;
}

.carousel-indicators {
  position: absolute;
  top     : 410px;
}

.nomeTestemunho {
  position    : absolute;
  top         : 300px;
  margin-left : auto;
  margin-right: auto;
  left        : 0;
  right       : 0;
}

.nome {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 16pt;
}

.emprego {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 16pt;
}

.openQuote {
  font-family: "century-gothic Bold";
  font-weight: bold;
  font-size  : 30pt;
  line-height: 0.8;
  margin     : 0;
  padding    : 0 10px;
}

.endQuote {
  text-align : center;
  font-family: "century-gothic Bold";
  font-weight: bold;
  font-size  : 30pt;
  line-height: 1.5;
  margin     : 0;
}

.carousel-indicators li {
  border-radius   : 50%;
  height          : 20px;
  width           : 20px;
  background-color: transparent;
  border-width    : 2px;
  border-style    : solid;
  border-color    : white;
  margin          : 0 10px;
}
/*--------------------
     7. Contato
----------------------*/
#contato {
  padding   : 60px 30px 100px;
  text-align: center;
}

#contato h2 {
  margin     : 0 0 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 20pt;
}

.form-control {
  font-family     : "Montserrat", sans-serif;
  font-weight     : normal;
  font-size       : 10pt;
  background-color: black;
  line-height     : 1.5;
}
/* WebKit, Blink, Edge */

.form-control::-webkit-input-placeholder {
  color: white;
}
/* Mozilla Firefox 4 to 18 */

.form-control:-moz-placeholder {
  color: white;
}
/* Mozilla Firefox 19+ */

.form-control::-moz-placeholder {
  color: white;
}
/* Internet Explorer 10-11 */

.form-control:-ms-input-placeholder {
  color: white;
}
/* Microsoft Edge */

.form-control::-ms-input-placeholder {
  color: white;
}

.form-control:focus {
  border: 5px solid #424242 !important;
}

.form-control:active {
  border: 5px solid grey !important;
}

#buttonBox {
  text-align: right;
}

.btn-primary {
  font-family     : "Montserrat", sans-serif;
  font-weight     : normal;
  font-size       : 16pt;
  color           : black !important;
  background-color: white !important;
  border-width    : 5px;
  border-color    : black !important;
  padding         : 5px 40px;
}

.btn-primary:hover {
  background-color: rgb(90,127,144)!important;
}

.btn-primary p {
  margin: 0;
}
/*--------------------
     8. Sub Menu
----------------------*/
#subMenu {
  display: none;
}
/*--------------------
     9. Rodapé
----------------------*/

footer {
  background-color: black;
  text-align      : center;
  padding         : 15px;
}

footer img {
  height: 50px;
}

footer p {
  display: none;
}
/*--------------------
     10. Pagina Planos
----------------------*/
#planosDetalhado {
  padding   : 80px 0 0;
  text-align: center;
}

#planosDetalhado span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 20pt;
  color      : #5A7F90;
}

#planosDetalhado h2 {
  margin     : auto auto 60px;
  max-width  : 300px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 20pt;
}

.animate {
  transition: transform 0.3s ease-out;
}

.slider-wrap {
  margin-bottom: 80px;
  position     : relative;
}

.sliderPlanos {
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

.ms-touch.sliderPlanos {
  overflow-x              : scroll;
  overflow-y              : hidden;
  -ms-overflow-style      : none;
  /* Hides the scrollbar. */
  -ms-scroll-chaining     : none;
  /* Prevents Metro from swiping to the next tab or app. */
  -ms-scroll-snap-type    : mandatory;
  /* Forces a snap scroll behavior on your images. */
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

.holder {
  width     : 300%;
  overflow-y: hidden;
}

.slide-wrapper {
  width   : 33.333%;
  height  : 100%;
  float   : left;
  position: relative;
  overflow: hidden;
}

.slidePlanos {
  position: relative;
}

.planosContainer {
  border-style: solid;
  border-width: 3px;
  border-color: #5A7F90;
  padding     : 50px 10px 25px;
  width       : 80%;
  margin      : auto;
  z-index     : 0;
  left        : 50%;
}

.planosContainer .planosCategoria {
  font-family  : "Montserrat", sans-serif;
  font-weight  : bold;
  font-size    : 16pt;
  margin-bottom: 50px;
}

.planosContainer #planoBasico {
  color: #AFD14A;
}

.planosContainer #planoProfissional {
  color: #5A7F90;
}

.planosContainer #planosAvancado {
  color: #A0444B;
}

#planosMedianoAvancado,
#planosMedianoBasico,
#planosMedianoProfissional,
.planosDivSuperior {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 12pt;
  text-align : left;
  padding    : 0 30px;
}

#planosMedianoAvancado span,
#planosMedianoBasico span,
#planosMedianoProfissional span {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 12pt;
  color      : #AFD14A;
}

#planosMedianoAvancado span {
  color: #A0444B;
}

#planosMedianoProfissional span {
  color: #5A7F90;
}

#planosMedianoAvancado li,
#planosMedianoBasico li,
#planosMedianoProfissional li,
.planosDivSuperior li {
  margin-bottom: 10px;
  line-height  : 1.2;
}

.planosDivInferior {
  margin-top : 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 15pt;
  color      : #515151;
}

.preco {
  font-size: 24pt;
}

.planosDetalhadoCliqueAqui {
  background-color: black;
  font-family     : "Montserrat", sans-serif;
  font-weight     : normal;
  font-size       : 12pt;
  color           : white;
  display         : inline-block;
  padding         : 15px 45px;
  margin-top      : 50px;
}

.planosDetalhadoCliqueAqui:hover {
  background-color: #353535;
}

.carousel-control-prev-icon {
  background-image: url("../img/Seta_preta.png") !important;
}

.carousel-control-next-icon {
  background-image: url("../img/Seta_preta.png") !important;
}

#setaPlanosDireita {
  position: fixed;
  padding : 15px 7px;
  top     : 40%;
  right   : 0;
  z-index : 2;
  cursor  : pointer;
}

#setaPlanosEsquerda {
  position: fixed;
  padding : 15px 0 0 7px;
  top     : 40%;
  left    : 0;
  z-index : 2;
  cursor  : pointer;
}

#setaPlanosDireita img,
#setaPlanosEsquerda img {
  width: 20px;
}

.setaRemove {
  display: none;
}
/*--------------------------------------------------------
     11. Plano Basico / Plano Profissional / Plano Avancado
---------------------------------------------------------*/
#descricaoPlanos {
  padding: 80px 0;
}

#descricaoPlanos h2 {
  margin     : auto auto 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 20pt;
  text-align : center;
}

.planosgeral {
  font-family: "Montserrat", sans-serif;
  font-size  : 12pt;
  color      : white;
  line-height: 33px;
  margin     : auto;
}

.planosgeral li {
  margin-top: 13px;
}

.planosprecos {
  margin-top: 20px !important;
  text-align: center;
  align-self: flex-start;
  font-size : 18pt !important;
}

.precofinal {
  font-size: 25pt !important;
}

.taxa {
  font-size : 18px !important;
  margin-top: -5px;
}

#listaPlano {
  font-size    : 12pt;
  border-color : black;
  border-width : 2px;
  border-style : solid;
  padding-right: 10px;
  padding-top  : 30px;
  margin-right : 45px;
  margin-left  : 45px;
  margin-top   : 40px;
  line-height  : 20px;
}

#listaPlano p {
  font-size   : 16px;
  font-weight : normal;
  line-height : 23px;
  margin-left : 30px;
  margin-right: 30px;
}

#listaPlano li:last-child {
  font-weight: bold;
}

#setaDireita {
  display: none;
}

#setaEsquerda {
  display: none;
}

.tooltip .tooltiptext2 {
  display: none;
}

/*--------------------
    Site Modal
----------------------*/

#mySiteModal {
  padding: 0 0 50px;
}

#siteModalContainer {
  width   : 100%;
  overflow: hidden;
}

#siteModalBar {
  position        : relative;
  width           : 100%;
  text-align      : center;
  background-color: black;
}

.siteModalMenu {
  width : 55%;
  margin: 0 auto;
}

.siteModalMenu ul {
  padding  : 0;
  margin   : 20px 0;
  font-size: 0;
}

.siteModalMenu ul li {
  display   : inline;
  text-align: center;
  display   : inline-block;
  padding   : 0;
  margin    : 0;
  font-size : 0;
  width     : 33.333%;
}

.siteModalMenu p {
  font-family    : "Montserrat", sans-serif;
  font-weight    : normal;
  font-size      : 10pt;
  display        : inline-block;
  width          : 100%;
  padding        : 0.25rem 0;
  margin         : 0;
  text-decoration: none;
  color          : white;
  cursor         : pointer;
  transition     : 0.3s;
}

.siteModalMenu p:hover {
  color: #bbb;
}

#tablet:hover ~ hr {
  margin-left: 33.33%;
}

#desktop:hover ~ hr {
  margin-left: 66.66%;
}

hr {
  height    : 0.09rem;
  width     : 33.33%;
  margin    : 0;
  padding   : 0;
  background: #bbb;
  border    : none;
  transition: 0.3s ease-in-out;
}

.siteClose {
  position   : absolute;
  top        : 0;
  right      : 15px;
  z-index    : 5;
  margin     : 0;
  color      : #f1f1f1;
  font-size  : 40px;
  font-weight: bold;
  transition : 0.3s;
  float      : right;
}

.siteClose:focus,
.siteClose:hover {
  color          : #bbb;
  text-decoration: none;
  cursor         : pointer;
}

#iframeContainer {
  width           : 90%;
  height          : 90%;
  padding         : 0;
  z-index         : 10;
  border-color    : rgba(0, 0, 0, 0);
  border-style    : none;
  border-radius   : 3% 3% 0 0;
  background-color: rgba(0, 0, 0, 0);
}

#guiaDispositivo {
  width           : 200px;
  margin          : auto;
  background-color: none;
  text-align      : left;
  height          : 100%;
  display         : flex;
  align-items     : center;
}

#guiaDispositivo h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 11pt;
}

#guiaDispositivo p {
  font-family  : "Montserrat", sans-serif;
  font-weight  : normal;
  font-size    : 10pt;
  line-height  : 1.7;
  margin-bottom: 100px;
}

#siteModal {
  display                 : none;
  height                  : 100vh;
  margin-bottom           : 400px;
  overflow                : scroll;
  -webkit-overflow-       : scroll;
  white-space             : nowrap;
  -ms-zoom                : 0.0;
  -moz-transform          : scale(0.17);
  -moz-transform-origin   : 0 0;
  -o-transform            : scale(0.17);
  -o-transform-origin     : 0 0;
  -webkit-transform       : scale(0.17);
  -webkit-transform-origin: 0 0;
  position                : relative;
}

#siteImgModal {
  display         : none;
  border-style    : none;
  background-color: rgba(0,0,0,0);
  padding         : 0 0 50px;

}

/*--------------------
     11-1. Radio
----------------------*/
/* Hide the browser's default radio button */
.innerSlide input {
  opacity: 0;
  cursor : pointer;
}
/* Create a custom radio button */

.innerSlide label {
  display            : flex;
  align-items        : center;
  justify-content    : center;
  margin             : 0 auto 20px;
  padding            : 0;
  height             : 25px;
  width              : 25px;
  background-color   : transparent;
  border-style       : solid;
  border-color       : white;
  border-radius      : 50%;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  cursor             : pointer;
}

.checkmarkSpan {
  position     : relative;
  margin       : 0;
  padding      : 0;
  top          : 0;
  left         : 0;
  height       : 15px;
  width        : 15px;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */

.checkmarkSpan:hover {
  background-color: rgba(255,255,255,0.5);
  width           : 15px;
  height          : 15px;
}
/* When the radio button is checked, add a blue background */

.radioContainer input:checked + label span {
  background-color: white;
  width           : 15px;
  height          : 15px;
}
/*--------------------------------------------------------
     12. Plano Basico
---------------------------------------------------------*/

#corTituloBasico {
  color: #AFD14A;
}

.btn-primary-Basico:hover,
.corListaBasico,
.planoBasicoLayout,
.planoBasicoLayoutInput,
.planoBasicoLayoutInput:focus,
.planoBasicoLayoutInput:hover {
  background-color: #AFD14A !important;
  color           : white;
}

.planoBasicoLayoutInput,
.planoBasicoLayoutInput::placeholder,
.planoBasicoLayoutInput:focus,
.planoBasicoLayoutInput:hover {
  color: black;
}
/*--------------------------------------------------------
     13.  Plano Profissional
---------------------------------------------------------*/
.corTituloProfissional {
  color: #5A7F90;
}

.btn-primary-Profissional:hover,
.corListaProfissional,
.planoProfissionalLayout,
.planoProfissionalLayoutInput,
.planoProfissionalLayoutInput:focus,
.planoProfissionalLayoutInput:hover {
  background-color: #5A7F90!important;
  color           : white;
}
/*--------------------------------------------------------
     14.  Plano Avancado
---------------------------------------------------------*/

.corTituloAvancado {
  color: #A0444B;
}

.btn-primary-Avancado:hover,
.corListaAvancado,
.planoAvancadoLayout,
.planoAvancadoLayoutInput,
.planoAvancadoLayoutInput:focus,
.planoAvancadoLayoutInput:hover {
  background-color: #A0444B !important;
  color           : white;
}

/*--------------------------------------------------------
     15.  Pagina de Agradecimento
---------------------------------------------------------*/

.bodyThanksPage {
  min-height: 100vh;
  position  : relative;
}

.thanksPage {
  margin   : auto;
  position : absolute;
  top      : 50%;
  transform: translateY(-50%);
  left     : 0;
  bottom   : 0;
  right    : 0;
  padding  : 70px 40px !important;
}

#thanksPageSpacer {
  height: 500px;
}

#textoAgradecimento {
  color           : white;
  background-color: black;
  max-width       : 600px;
  padding         : 70px 100px 55px;
  margin          : auto;
  box-shadow      : -10px 10px 10px 0 rgba(0, 0, 0, 0.5), -13px 13px 17px 0 rgba(0, 0, 0, 0.2);
  height          : 100%;
  display         : flex;
  align-items     : center;
  justify-content : center;
}

#tpFooter {
  position: absolute;
  right   : 0;
  left    : 0;
  bottom  : 0;
}
