/* CSS Desenvolvido de 500px a 768px */

/*--------------------------------------------------------------------------------------
Agência Thot
0. GLOBAL
1. MENU
2. BANNER
3. SERVICOS
4. TESTEMUNHOS
5. CONTATO
6. MAPA
7. SOCIAL
8. RODAPÉ
 ----------------------------------------------------------------------------------------*/

/*--------------------
    0. GLOBAL
 ----------------------*/

/*--------------------
      1. MENU
 ----------------------*/

#menu {
  padding: 15px 70px;
}

#menuContato,
#menuContato:hover {
  font-size: 15pt;
}

/*--------------------
      2. BANNER
 ----------------------*/

#banner {
  padding: 120px 70px 200px;
}

#banner div p {
  font-size: 24pt;
}

#banner div p span {
  font-size: 22pt;
}

/*--------------------
     3. SERVICOS
----------------------*/

#servicos {
  padding: 70px 80px;
}

#servicos img {
  width: 70%;
}

#textoServicos {
  margin : 40px 0;
  padding: 0;
}

#textoServicos h2 {
  font-size: 24pt;
}

#textoServicos h1 {
  font-size: 24pt;
}

#servicos p {
  font-size: 15pt;
  margin   : 50px 0 20px;
}

#servicosCliqueAqui,
#servicosCliqueAqui:hover {
  font-size: 15pt;
}

/*--------------------
     4. LAYOUTS
----------------------*/

#visualContainer {
  padding: 0 50px;
}

.innerSlide {
  max-width: 400px;
}

#layouts h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 24pt;
}

/*--------------------
     5. PLANOS
----------------------*/
#planos {
  padding: 90px 70px 0;
}

#planos div {
  padding: 0 30px;
}

#planos h2 {
  font-size: 24pt;
  margin   : 0 0 60px;
}

#planos h2 span {
  font-size: 24pt;
}

#planos h3 {
  font-size: 15pt;
  margin   : 0 30px 60px;
}

#planosCliqueAqui,
#planosCliqueAqui:hover {
  font-size: 15pt;
  padding  : 20px 45px;
  margin   : 0 0 130px;
}

#planos img {
  width : 80%;
  margin: 0 0 -30px;
}

/*--------------------
     6. TESTEMUNHOS
----------------------*/
#testemunhos {
  padding: 60px 55px;
}

#testemunhos h2 {
  font-size    : 24pt;
  margin-bottom: 70px;
}

.openQuote {
  font-size: 38pt;
}

.endQuote {
  font-size: 38pt;
}

.carousel-item {
  font-size: 15pt;
  margin   : 0 0 130px;
}

.nome {
  font-size: 17pt;
}

.emprego {
  font-size: 17pt;
}

/*--------------------
     7. Contato
----------------------*/

#contato {
  padding: 90px 60px 150px;
}

#contato h2 {
  margin   : 0 0 60px;
  font-size: 24pt;
}

.form-control {
  font-size  : 14pt;
  line-height: 2;
}

.btn-primary {
  font-size: 15pt;
  padding  : 5px 40px;
  margin   : 10px 0;
}

/*--------------------
     10. Planos
----------------------*/

#planosDetalhado {
  padding   : 80px 0 0;
  text-align: center;
}

#planosDetalhado span {
  font-size: 24pt;
}

#planosDetalhado h2 {
  margin   : auto auto 60px;
  max-width: 350px;
  font-size: 24pt;
}

.planosContainer {
  padding: 60px 50px 40px;
  width  : 70%;
}

.planosContainer .planosCategoria {
  font-size    : 18pt;
  margin-bottom: 65px;
}

#planosMedianoAvancado,
#planosMedianoBasico,
#planosMedianoProfissional,
.planosDivSuperior {
  font-size: 13pt;
  padding  : 0 30px;
}

#planosMedianoAvancado span,
#planosMedianoBasico span,
#planosMedianoProfissional span {
  font-size: 13pt;
}

#planosMedianoAvancado li,
#planosMedianoBasico li,
#planosMedianoProfissional li,
.planosDivSuperior li {
  margin-bottom: 10px;
  line-height  : 1.2;
}

.planosDivInferior {
  margin-top: 120px;
  font-size : 16pt;
}

.preco {
  font-size: 24pt;
}

.planosDetalhadoCliqueAqui {
  font-size : 14pt;
  padding   : 18px 50px;
  margin-top: 50px;
}

/*--------------------------------------------------------
     10. Plano Basico / Plano Mediano / Plano Avancado
---------------------------------------------------------*/

#descricaoPlanos {
  padding: 80px 10vw;
}

#descricaoPlanos h2 {
  font-size: 24pt;
  margin   : 0 0 60px;
}

.planosgeral {
  font-size: 25pt;
}

#listaPlano {
  font-size: 12pt;
}

#listaPlano p {
  font-size  : 12pt;
  line-height: 30px;
  margin-top : 30px;
}

#layouts h1 {
  font-size: 25pt;
}
