/* CSS Desenvolvido de 1280px a 2000px */
/*--------------------------------------------------------------------------------------
Agência Thot
0. GLOBAL***
01. MENU
02. BANNER
03. SERVICOS
04. LAYOUTS
05. PLANOS
06. TESTEMUNHOS
07. CONTATO
08. SUBMENU
09. RODAPÉ
10. PAGINA PLANOS
11. PAGINAS PLANO BASICO / PLANO PROFISSIONAL / PLANO AVANCADO
12. PAGINA PLANO BASICO
13. PAGINA PLANO PROFISSIONAL
14. PAGINA PLANO AVANCADO
 ----------------------------------------------------------------------------------------*/

/*--------------------
     0. GLOBAL
  ----------------------*/
.tooltip .tooltiptext {
  display: block;
}

#body {
  overflow-x: hidden;
}

/*--------------------
      1. MENU
 ----------------------*/

#menu {
  padding         : 10px 100px;
  background-color: white;
  position        : fixed;
  z-index         : 10;
  box-shadow      : 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 5px 2px 0 rgba(0, 0, 0, 0.09);
}

#menuContato,
#menuContato:hover {
  font-size: 12pt;
}

#menu img {
  height: 50px;
}

#menuSpacer {
  display: block;
  height : 70px;
}
/*--------------------
      2. BANNER
 ----------------------*/

#banner {
  padding              : 30px 0 300px 100px;
  background-image     : url("../img/Filtro_Banner.png") , url("../img/banner-desenvolvimento-sites.jpg");
  background-attachment: fixed;
  height               : 70vh;
}

#typewriter {
  width: 335px;
}

#banner div span {
  font-size: 24pt;
}

#banner div #bannerWebsite {
  font-size: 22pt;
}

#typewriter {
  min-height: 200px;
}

#typewriter::after {
  content  : "|";
  font-size: 23pt;
}

#particles-js {
  position: absolute;
  top     : 0;
  left    : 0;
  bottom  : 0;
  right   : 0;
  width   : 100%;
  height  : 100%;
  padding : 0 !important;
}
/*--------------------
     3. SERVICOS
----------------------*/

#servicos {
  padding        : 100px 70px;
  flex-direction : row;
  justify-content: center;
  height         : 70vh;
}

#servicos img {
  width    : 30%;
  max-width: 350px;
}

#card {
  width      : 40%;
  max-width  : 400px;
  align-items: flex-start;
  margin-left: 160px;
}

#textoServicos {
  margin : 0;
  padding: 0;
}

#servicosH2 {
  font-size: 24pt;
}

#textoServicos h1 {
  font-size: 24pt;
}

#servicos p {
  font-size: 14pt;
  margin   : 40px 0 25px;
}

#servicosCliqueAqui,
#servicosCliqueAqui:hover {
  font-size: 14pt;
  padding  : 13px 28px;
  margin   : 0;
}
/*--------------------
     4. LAYOUTS
----------------------*/

#layouts {
  padding: 90px 0 130px;
}

#layouts h2 {
  font-size  : 24pt;
  font-weight: normal;
  line-height: 1.5;
  padding    : 0 40px;
  margin     : 0 0 70px;
}

#visualContainer {
  /* overflow-x: hidden; */
  padding: 10px 40px;
}

.innerSlide {
  max-width: 22%;
  padding  : 0 25px;
}

.slide-image {
  max-width: 100%;
}

#imgModalContainer {
  width: 60%;
}

.modal-content {
  width : 100%;
  margin: auto;
}

.close {
  margin   : 0 0 10px;
  font-size: 60px;
}
/*--------------------
     5. PLANOS
----------------------*/
#planos {
  padding: 110px 70px 0;
}

#planos div {
  padding: 0 30px;
}

#planos h2 {
  font-size: 24pt;
  margin   : 0 0 40px;
}

#planos h2 span {
  font-size: 24pt;
}

#planos h3 {
  font-size: 14pt;
  margin   : 0 30px 30px;
}

#planosContainer {
  margin: 0 0 80px;
}

#planosCliqueAqui,
#planosCliqueAqui:hover {
  font-size: 14pt;
  padding  : 13px 28px;
}

#planos img {
  width    : 35%;
  max-width: 400px;
  margin   : 0 0 -3vh;
}
/*--------------------
     6. TESTEMUNHOS
----------------------*/
#testemunhos {
  padding       : 95px 100px 125px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

#testemunhos h2 {
  font-size    : 24pt;
  margin-bottom: 40px;
  text-align   : center;
}

.containerTestemunhos {
  display    : flex;
  align-items: stretch;
}

.carousel-indicators {
  display: none;
}

.subTestemunhos {
  max-width     : 350px;
  text-align    : center;
  font-size     : 14pt;
  font-weight   : normal;
  margin        : 0 20px;
  line-height   : 1.3;
  display       : flex;
  flex-direction: column;
}

.descricaoTestemunho {
  margin: auto 0 0;
}

.nomeTestemunho {
  position  : static;
  margin-top: auto;
}

.openQuote {
  font-size: 34pt;
}

.endQuote {
  font-size: 34pt;
}

.nome {
  font-size: 16pt;
}

.emprego {
  font-size: 16pt;
}
/*--------------------
     7. Contato
----------------------*/

#contato {
  padding   : 140px 140px 200px;
  text-align: center;
}

#contato h2 {
  margin   : 0 0 60px;
  font-size: 24pt;
}

#contato form {
  background-color: black;
  min-width       : 550px;
  max-width       : 700px;
  padding         : 70px 120px 55px;
  margin          : auto;
  min-height      : auto;
  box-shadow      : -10px 10px 10px 0 rgba(0, 0, 0, 0.5), -13px 13px 17px 0 rgba(0, 0, 0, 0.2);
}

.form-control {
  font-size    : 10pt;
  line-height  : 1.5;
  border       : 5px solid white;
  color        : white;
  border-radius: 0;
}

.btn-primary {
  font-size    : 14pt;
  padding      : 5px 40px;
  margin       : 0;
  border-width : 1px;
  border-radius: 0;
}
/*--------------------
     8. Sub Menu
----------------------*/

#subMenu {
  background-color: #424242;
  display         : block;
  padding         : 30px 100px;
}

#subMenuContainer {
  display       : flex;
  flex-direction: column;
  align-items   : flex-end;
  width         : 100%;
  margin        : auto;
}

#subMenu h3 {
  font-family    : "Montserrat", sans-serif;
  font-weight    : bold;
  color          : #FFFFFF;
  font-size      : 14pt;
  text-decoration: none;
  margin         : 0;
}

#subMenu a {
  font-family    : "Montserrat", sans-serif;
  font-weight    : normal;
  color          : #FFFFFF;
  font-size      : 12pt;
  text-decoration: none;
}

#subMenu h3 {
  line-height: 1.6;
}
/*--------------------
     9. RODAPÉ
----------------------*/

footer {
  padding: 20px 100px;
}

#footerContainer {
  display        : flex;
  justify-content: space-between;
  max-width      : 2300px;
  margin         : auto;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color      : #FFFFFF;
  font-size  : 10pt;
  margin     : 0;
  line-height: 2;
  display    : inline;
}

/*--------------------
     10. Pagina Planos
----------------------*/

#planosDetalhado {
  padding   : 150px 65px 80px;
  text-align: center;
}

#planosDetalhado span {
  font-size: 24pt;
}

#planosDetalhado h2 {
  margin   : auto auto 60px;
  max-width: none;
  font-size: 24pt;
}

.sliderPlanos {
  width   : 100%;
  height  : 100%;
  overflow: auto;
}

.holder {
  width          : 100%;
  height         : 100%;
  overflow-y     : auto;
  display        : flex;
  align-items    : stretch;
  justify-content: center;
}

.slide-wrapper {
  width    : 22%;
  max-width: 350px;
  height   : 1000px;
  float    : none;
  position : static;
  overflow : auto;
}

.planosContainer {
  border-style   : solid;
  border-width   : 3px;
  border-color   : #5A7F90;
  padding        : 50px 10px 35px;
  width          : 90%;
  height         : 1000px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.planosContainer:hover {
  background-color: #E2E2E2;
}

.planosContainer .planosCategoria {
  font-family  : "Montserrat", sans-serif;
  font-weight  : bold;
  font-size    : 14pt;
  margin-bottom: 60px;
}

#planosMedianoAvancado,
#planosMedianoBasico,
#planosMedianoProfissional,
.planosDivSuperior {
  font-size : 10pt;
  text-align: left;
  padding   : 0 30px;
}

.planosDivSuperior {
  border-bottom: 2px solid #5A7F90;
}

#planosMedianoAvancado span,
#planosMedianoBasico span,
#planosMedianoProfissional span {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size  : 10pt;
  color      : #AFD14A;
}

#planosMedianoAvancado span {
  color: #A0444B;
}

#planosMedianoProfissional span {
  color: #5A7F90;
}

#planosMedianoAvancado li,
#planosMedianoBasico li,
#planosMedianoProfissional li,
.planosDivSuperior li {
  margin-bottom: 10px;
  line-height  : 1.2;
}

.planosDivInferior {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size  : 12pt;
  color      : #515151;
  margin-top : 0;
}

.preco {
  font-size: 18pt;
}

.planosDetalhadoCliqueAqui {
  background-color: black;
  font-family     : "Montserrat", sans-serif;
  font-weight     : normal;
  font-size       : 12pt;
  color           : white;
  display         : inline-block;
  padding         : 13px 28px;
  margin-top      : 50px;
}

#setaPlanosDireita {
  display: none;
}

#setaPlanosEsquerda {
  display: none;
}
/*--------------------------------------------------------
     11. Pagina Plano Basico / Plano Profissional / Plano Avancado
---------------------------------------------------------*/

#descricaoPlanos {
  padding: 100px 10vw 180px;
}

#descricaoPlanos h2 {
  font-size: 24pt;
  margin   : 0 0 60px;
}

.planosgeral {
  display        : flex;
  align-items    : center;
  justify-content: center;
  font-size      : 20pt;
  line-height    : 33px;
}

#listaPlano p {
  font-size  : 10pt;
  line-height: 30px;
  margin-top : 0 !important;
}

#listaPlano {

  font-family  : "Montserrat", sans-serif;
  font-size    : 14pt;
  line-height  : 28px;

  margin-top   : 0 !important;
  width        : 600px;
  border-color : black;
  border-width : 2px;
  border-style : solid;
  padding-left : 30px;
  padding-right: 30px;
  padding-top  : 30px;
}

#listaPlano ul li div {
  font-family: "Montserrat", sans-serif;
  font-size  : 14pt;
  line-height: 28px;

}

.planosprecos {
  margin-top: 0 !important;
  font-size : 14pt !important;
}

.precofinal {
  font-size: 20pt !important;
}

.taxa {
  font-size: 12pt !important;
}

#alignDados {
  text-align: left;
  margin    : auto;
}

.planoBasicoLayout {
  padding: 90px 200px 130px !important;
}

.planoProfissionalLayout {
  padding: 90px 200px 130px !important;
}

.innerSlideSelection {
  max-width: 25% !important;
  padding  : 0 5px !important;
}

#setaDireita {
  display : block;
  position: absolute;
  top     : 50%;
  right   : 5%;
  cursor  : pointer;
  z-index : 5;
}

#setaEsquerda {
  display : block;
  position: absolute;
  top     : 50%;
  left    : 5%;
  cursor  : pointer;
  z-index : 5;
}

/*--------------------
    Site Modal
----------------------*/

#iframeContainer {
  width     : 80%;
  margin-top: 50px;
}

.siteClose {
  right: 10%;
}

/*--------------------------------------------------------
     12. Pagina Plano Basico
---------------------------------------------------------*/
.planoBasicoForm {
  background-color: #AFD14A !important;
}

.planoBasicoLayoutInput {
  border-color: black;
}
/*--------------------------------------------------------
     13.  Pagina Plano Profissional
---------------------------------------------------------*/

.planoProfissionalForm {
  background-color: #5A7F90 !important;
}

.planoProfissionalLayoutInput {
  border-color: black;
}
/*--------------------------------------------------------
     14. Pagina Plano Avancado
---------------------------------------------------------*/
.contatoAvancado {
  padding-top: 2px !important;
}

.planoAvancadoForm {
  background-color: #A0444B!important;
}

.planoAvancadoLayoutInput {
  border-color: black;
}

.planosgeralAvancado {
  display: block;
}

.corListaAvancado {
  margin: auto !important;
}

/*--------------------------------------------------------
     15.  Pagina de Agradecimento
---------------------------------------------------------*/

#tpFooter {
  display        : flex;
  justify-content: space-between;
}
