/* CSS Desenvolvido de 768px até 992px */
/*--------------------------------------------------------------------------------------
Agência Thot
0. GLOBAL***
01. MENU
02. BANNER
03. SERVICOS
04. LAYOUTS
05. PLANOS
06. TESTEMUNHOS
07. CONTATO
08. SUBMENU***
09. RODAPÉ***
10. PAGINA PLANOS
11. PAGINAS PLANO BASICO / PLANO PROFISSIONAL / PLANO AVANCADO
12. PAGINA PLANO BASICO***
13. PAGINA PLANO PROFISSIONAL***
14. PAGINA PLANO AVANCADO***
 ----------------------------------------------------------------------------------------*/
/*--------------------
      1. MENU
 ----------------------*/
#menu {
  padding: 15px 70px;
}

#menuContato,
#menuContato:hover {
  font-size: 16pt;
}

#menu img {
  height: 60px;
}
/*--------------------
      2. BANNER
 ----------------------*/
#banner {
  padding: 100px 70px 240px;
}

#banner div {
  padding: 0 300px 100px 0;
}

#banner div span {
  font-size: 24pt;
}

#banner div #bannerWebsite {
  font-size: 22pt;
}

#typewriter {
  /* max-width : 420px; */
  min-height: 300px;
}

#typewriter::after {
  content  : "|";
  font-size: 23pt;
}
/*--------------------
     3. SERVICOS
----------------------*/
#servicos {
  padding: 70px 110px;
}

#servicos img {
  width: 50%;
}

#textoServicos {
  margin   : 40px 0;
  padding  : 0;
  max-width: 770px;
}

#servicosH2 {
  font-size: 26pt;
}

#textoServicos h1 {
  font-size: 26pt;
}

#servicos p {
  font-size: 16pt;
  margin   : 40px 0 20px;
}

#servicosCliqueAqui,
#servicosCliqueAqui:hover {
  font-size: 16pt;
}
/*--------------------
     4. LAYOUTS
----------------------*/
#visualContainer {
  padding: 0 60px;
}

#layouts h2 {
  font-size  : 26pt;
  font-weight: normal;
}

.innerSlide {
  display  : inline-block;
  width    : 60%;
  margin   : 0 20px;
  max-width: 500px;
}

.close {
  position : relative;
  font-size: 50px;
}
/*--------------------
     5. PLANOS
----------------------*/

#planos {
  padding: 90px 70px 0;
}

#planos div {
  padding: 0 30px;
}

#planos h2 {
  font-size: 26pt;
  margin   : 0 0 40px;
}

#planos h2 span {
  font-size: 26pt;
}

#planos h3 {
  font-size: 16pt;
  margin   : 0 30px 60px;
}

#planosCliqueAqui,
#planosCliqueAqui:hover {
  font-size: 16pt;
  padding  : 20px 45px;
  margin   : 0 0 130px;
}

#planos img {
  width : 70%;
  margin: 0 0 -30px;
}
/*--------------------
     6. TESTEMUNHOS
----------------------*/

#testemunhos {
  padding: 60px 55px;
}

#testemunhos h2 {
  font-size    : 26pt;
  margin-bottom: 70px;
}

.openQuote {
  font-size: 38pt;
}

.endQuote {
  font-size: 38pt;
}

.carousel-item {
  font-size: 16pt;
  margin   : 0 0 130px;
}

.nome {
  font-size: 18pt;
}

.emprego {
  font-size: 18pt;
}
/*--------------------
     7. Contato
----------------------*/
#contato {
  padding: 90px 60px 150px;
}

#contato h2 {
  margin   : 0 0 60px;
  font-size: 26pt;
}

#form {
  padding: 0 80px;
}

.form-control {
  font-size  : 16pt;
  line-height: 2;
}

.form-group {
  margin-bottom: 10px;
}

.form-control::placeholder {
  font-size  : 14pt;
  line-height: 2;
}

.form-control::-webkit-input-placeholder {
  font-size  : 14pt !important;
  line-height: 2;
}

.btn-primary {
  font-size: 16pt;
  padding  : 10px 70px;
  margin   : 10px 0;
}
/*--------------------
     10. Pagina Planos
----------------------*/
#planosDetalhado {
  padding   : 100px 0 0;
  text-align: center;
}

#planosDetalhado span {
  font-size: 26pt;
}

#planosDetalhado h2 {
  margin   : auto auto 120px;
  max-width: 350px;
  font-size: 26pt;
}

.planosContainer {
  padding: 30px;
  width  : 60%;
}

.planosContainer .planosCategoria {
  font-size    : 20pt;
  margin-bottom: 75px;
}

#planosMedianoAvancado,
#planosMedianoBasico,
#planosMedianoProfissional,
.planosDivSuperior {
  font-size: 14pt;
  padding  : 0 30px;
}

#planosMedianoAvancado span,
#planosMedianoBasico span,
#planosMedianoProfissional span {
  font-size: 14pt;
}

#planosMedianoAvancado li,
#planosMedianoBasico li,
#planosMedianoProfissional li,
.planosDivSuperior li {
  margin-bottom: 10px;
  line-height  : 1.2;
}

.planosDivInferior {
  margin-top: 90px;
  font-size : 16pt;
}

.preco {
  font-size: 26pt;
}

.planosDetalhadoCliqueAqui {
  font-size : 14pt;
  padding   : 18px 50px;
  margin-top: 50px;
}

#setaPlanosDireita {
  padding: 15px 50px;
}

#setaPlanosEsquerda {
  padding: 15px 0 0 50px;
}

#setaPlanosDireita img,
#setaPlanosEsquerda img {
  width: 35px;
}
/*--------------------------------------------------------
     11. Paginas Plano Basico / Plano Profissional / Plano Avancado
---------------------------------------------------------*/
#descricaoPlanos {
  padding: 100px 10vw 130px;
}

#descricaoPlanos h2 {
  font-size: 26pt;
  margin   : 0 0 60px;
}

.planosgeral {
  font-size: 25pt;
  max-width: 600px;
}

#listaPlano {
  font-size: 14pt;
}

#listaPlano p {
  font-size  : 12pt;
  line-height: 30px;
  margin-top : 30px;
}

#layouts h1 {
  font-size: 25pt;
}
